@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap');


//familyfonts
$familyFontsPrimary: 'Josefin Sans', sans-serif;
$familyFontsSecondary: 'Poppins', sans-serif;

//color
$titleColor: #fff;
$additionalColor: #043771;
$backgroundPrimaryColor: #0f0f0f;