* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px, 1.6rem = 16px;
  font-family: $familyFontsSecondary;
  background-color:$backgroundPrimaryColor;
  color: $titleColor;
}

html,
body {
  margin: 0;
  padding: 0;
  
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $additionalColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $additionalColor;
}